async-lru
certifi
charset-normalizer
idna
mutagen
pyaes
Pillow
pycryptodome
pyrofork
PySocks
pymongo
python-dotenv
requests
soupsieve
TgCrypto
urllib3
websockets
yt-dlp
motor
aiohttp
aiofiles
pytz
ffmpeg
ffprobe
umongo
speedtest-cli
Flask
gunicorn
Jinja2
werkzeug
itsdangerous
